[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"
pipenv-to-requirements = "*"

[packages]
django = "==2.2.5"
pillow = "*"
requests = "*"
django-storages = "*"
boto3 = "*"
django-dotenv = "*"

[requires]
python_version = "3.7"
